torch==2.0.1
torchvision==0.15.2
numpy
tqdm
tensorboard
matplotlib
pandas

datasets
editdistance
wandb
torchaudio~=2.0.1
pillow

sentencepiece
wandb

requests==2.31.0
platformdirs==3.11.0
psutil==5.8
decorator==4.4.2
