torch
torchvision
numpy
tqdm
tensorboard
matplotlib
pandas

datasets
editdistance
wandb
torchaudio
pillow

sentencepiece
wandb

requests==2.31.0
platformdirs==3.11.0
psutil==5.8
decorator==4.4.2

jsonlines
rouge_score

transformers
accelerate
datasets
evaluate

librosa
