torch==2.0.1
torchvision==0.16.0
numpy
tqdm
tensorboard
matplotlib
pandas

datasets
torch_audiomentations
editdistance
wandb
pyctcdecode
torchaudio~=2.0.1
pillow

pyloudnorm
torchmetrics
pesq

pyworld
tgt
unidecode

hparams
inflect
